<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobdega</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>






    <header>

        <div class="general">
            <div class="imagen" > <img src="/images/final_2.png" alt="Bobdega" width="68vw"> </div>

          
            <div class="barraBusqueda">
                <form action="">
                    <input name="buscar" type="text" placeholder="Buscar productos">
                    <button type="submit" name="buscar"><i class="fas fa-search"></i></button>
                </form>    
            </div>

              <section class="cuentacarrito">
                <div class="usuario">
                    <h3><i class="fas fa-user-circle" style="font-size: 18px;" ></i></h3>
                </div> 

                  <div class="signlog">
                      
                      <article><a href="/signin" ><i class="fas fa-sign-in-alt"></i></a></article>
                      <article class="right"><a href="/login"><i class="far fa-id-card"></i></a></article>
                    
                    
                  </div>

                  <div class="carrito">
                   <a href="/shoppingCart"><i class="fas fa-cart-plus"></i></a>
                  </div>
              </section>
        </div>

        <nav class="menuCategorias">
            <ul class="categorias">
            <li class="lista">Espumantes</li>
            <li class="lista">Tintos</li>
            <li class="lista">Blancos</li>
            <li class="lista">Ahumados</li>
            <li class="lista">Regalos</li>
            </ul>

        </nav>

       

   </header>



   <main>
    <i class="fas fa-user-circle" style="font-size: 18px;" ></i>

    <h3>Crea tu cuenta</h3>
    <form action="/">
        <input type="email" name="email" placeholder="email" required>
        <span>*email incorrecto</span>
        <input type="text" name="usuario" placeholder="Nombre de usuario" required>
        <span>*usuario incorrecto</span>
        <input type="password" name="password" placeholder="Contraseña" required>
        <span>*contraseña incorrecta</span>
        <input type="password" name="password" placeholder="Repetir Contraseña" required>
        <span>*contraseña incorrecta</span>
        <button type="submit">Ingresar</button>
    </form>
    <p>Ingresar con:</p>
    <i class="fab fa-google"></i>
    <i class="fab fa-facebook"></i>

    </main>



   <footer>
        <div>
            <i class="fas fa-smile-wink">Acerca de Nosotros</i>
            <nav>
                <ul class="linksn">
                    <li class="nosotros">Espumantes</li>
                    <li class="nosotros">Tintos</li>
                    <li class="nosotros">Blancos</li>
                    <li class="nosotros">Ahumados</li>
                    <li class="nosotros">Regalos</li>
                    </ul>
            </nav>
        </div>
        <div>
            <i class="fas fa-portrait">Su cuenta</i>
            <nav>
                <ul class="linksn">
                    <li class="nosotros">Espumantes</li>
                    <li class="nosotros">Tintos</li>
                    <li class="nosotros">Blancos</li>
                    <li class="nosotros">Ahumados</li>
                    <li class="nosotros">Regalos</li>
                    </ul>
            </nav>
        </div>
        <div>
            <i class="fas fa-university"><i class="fas fa-truck">Info Pago / envios</i> </i>
            <nav>
                <ul class="linksn">
                    <li class="nosotros">Espumantes</li>
                    <li class="nosotros">Tintos</li>
                    <li class="nosotros">Blancos</li>
                    <li class="nosotros">Ahumados</li>
                    <li class="nosotros">Regalos</li>
                    </ul>
            </nav>
        </div>
        <div>
            <i class="fas fa-globe">Contactos</i>
            <nav>
                <ul class="linksn">
                    <li class="nosotros">Espumantes</li>
                    <li class="nosotros">Tintos</li>
                    <li class="nosotros">Blancos</li>
                    <li class="nosotros">Ahumados</li>
                    <li class="nosotros">Regalos</li>
                    </ul>
            </nav>
        </div>
         
   </footer>


</body>
</html>